table {
    margin: auto;
}

table,
th,
td {
    border: 2px solid black;
    border-collapse: collapse;
}

tr:nth-child(even) {
    background-color: #BFA690;
}

th {
    background-color: #886e5a;
    text-align: left;
    padding: 15px;
}

td {
    padding: 15px;
}

caption {
    font-size: 30px;
    padding: 10px;
}